<form
	(ngSubmit)="onSubmit()"
	[formGroup]="animeDetailsForm"
	class="main__form"
>
	<div class="form__left">
		{{ fileName }}
		<button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
		<input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
		<mat-form-field appearance="fill">
			<mat-label>Image Url</mat-label>
			<input matInput formControlName="imageUrl">
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.imageUrl) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Trailer Url</mat-label>
			<input matInput formControlName="trailerUrl">
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.trailerUrl) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>English Title</mat-label>
			<input matInput formControlName="titleEnglish">
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.titleEnglish) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Japanese Title</mat-label>
			<input matInput formControlName="titleJapanese">
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.titleJapanese) }}</mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Anime Synopsis</mat-label>
			<textarea class="form__synopsis" formControlName="synopsis" matInput></textarea>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.synopsis) }}</mat-error>
		</mat-form-field>
	</div>
	<mat-divider class="form__divider"/>
	<div class="form__right">
		<mat-form-field appearance="fill">
			<mat-label>Anime Type</mat-label>
			<mat-select formControlName="type">
				@for (option of selectTypes; track option) {
					<mat-option [value]="option">{{ option }}</mat-option>
				}
			</mat-select>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.type) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Anime Status</mat-label>
			<mat-select formControlName="status">
				@for (option of selectStatuses; track option) {
					<mat-option [value]="option">{{ option }}</mat-option>
				}
			</mat-select>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.status) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Anime Rating</mat-label>
			<mat-select formControlName="type">
				@for (option of selectRatings; track option) {
					<mat-option [value]="option">{{ option }}</mat-option>
				}
			</mat-select>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.rating) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Anime Season</mat-label>
			<mat-select formControlName="season">
				@for (option of selectSeasons; track option) {
					<mat-option [value]="option">{{ option }}</mat-option>
				}
			</mat-select>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.season) }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Anime Source</mat-label>
			<mat-select formControlName="source">
				@for (option of selectSources; track option) {
					<mat-option [value]="option">{{ option }}</mat-option>
				}
			</mat-select>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.source) }}</mat-error>
		</mat-form-field>
	</div>
	<mat-divider class="form__divider"/>
	<div class="form__airing airing">
		<div class="airing__toggle">
			<mat-button-toggle-group
				class="main__toggle"
				name="fontStyle"
				aria-label="Font Style"
				formControlName="airingStatus"
			>
				<mat-button-toggle [value]="true">Airing</mat-button-toggle>
				<mat-button-toggle [value]="false">Not airing</mat-button-toggle>
			</mat-button-toggle-group>
		</div>

		<mat-form-field>
			<mat-label>Start Airing Date</mat-label>
			<input matInput
				[matDatepicker]="startPicker"
				formControlName="airingStartDate"
			>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.airingStartDate) }}</mat-error>
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="startPicker"/>
			<mat-datepicker #startPicker></mat-datepicker>
		</mat-form-field>

		<mat-form-field>
			<mat-label>End Airing Date</mat-label>
			<input matInput
				[matDatepicker]="endPicker"
				formControlName="airingEndDate"
			>
			<mat-error>{{ validationService.getControlErrorMessage(animeDetailsForm.controls.airingEndDate) }}</mat-error>
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="endPicker"/>
			<mat-datepicker #endPicker></mat-datepicker>
		</mat-form-field>
	</div>
	<mat-divider class="form__divider"/>
	<div class="form__multi-filters">
		<div class="form__genres">
			@if(animeGenres$ | async; as animeGenres) {
				<camp-genres-select
					[animeGenres]="animeGenres"
					[selectedGenres]="selectedGenres"
					[genresControl]="animeDetailsForm.get('genres') ?? undefined"
				/>
			}
			<a mat-fab extended
				class='anime-details__add-genre'
				(click)="createNewGenre()"
			>
				<mat-icon>add</mat-icon>
				Add Genre
			</a>
		</div>
		<div class="form__studios">
			@if(animeStudios$ | async; as animeStudios) {
				<camp-studios-select
					[animeStudios]="animeStudios"
					[selectedStudios]="selectedStudios"
					[studioControl]="animeDetailsForm.get('studios') ?? undefined"
				/>
			}
			<a mat-fab extended
				class='anime-details__add-studio'
				(click)="createNewStudio()"
			>
				<mat-icon>add</mat-icon>
				Add Studio
			</a>
		</div>
	</div>
	<div class="form__error">{{ validationService.getFormErrorMessage(animeDetailsForm) }}</div>
	<button class="form__submit" mat-raised-button type="submit">Add Anime</button>
</form>
