@import url("./variables.css");

html {
  font-size: var(--body);
  font-family: Inter, sans-serif;
  line-height: var(--body-line-height);
  font-weight: var(--text-regular);
  background-color: var(--surface);
  color: var(--on-surface);
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1244px;
  width: 100%;
}

.default-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1,
h2,
h3 {
  margin: 0;
}
