@import url("./variables.css");

.catalog__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.filters__search,
.filters__select {
  display: block;
  max-width: 100%;
}

.catalog__h2 {
  font-size: var(--subtitle);
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.book {
  max-width: 167px;
}

.book__title {
  font-size: var(--body-small);
  font-weight: 500;
  line-height: 24px;
}

.book__cover {
  border-radius: 24px;
  border: 1px solid var(--border);
}
