@import url("./variables.css");

/* Header */

.header__container {
  padding: var(--space-5) 0;
  border-bottom: var(--default-border);
  background: var(--surface);
}

.header__logo,
.footer__logo {
  font-size: var(--logo);
  font-weight: var(--text-bold);
  line-height: var(--logo-line-height);
  cursor: pointer;
}

.header__link,
.footer__logo {
  text-decoration: none;
}

/* Catalog */

.main__container {
  display: flex;
  gap: 0 var(--space-6);
  align-items: normal;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-10);
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--space-4);
}

.catalog__heading {
  position: sticky;

  /* To fix visual bag on scrolling */
  top: -1px;
  padding: calc(var(--space-6) + 1px) 0 var(--space-6) 0;
  width: 100%;
  background-color: var(--surface);
}

.catalog__heading,
.filters__heading {
  font-size: var(--subtitle);
  font-weight: var(--text-semibold);
  line-height: var(--subtitle-line-height);
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.book {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.book__title {
  font-size: var(--body-small);
  font-weight: var(--text-medium);
  line-height: var(--body-small-line-height);
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__cover {
  border-radius: var(--border-radius-image);
  border: var(--default-border);
  width: 100%;
}

/* Aside */

.aside {
  padding: var(--space-6) 0;
  min-width: var(--aside-desktop-width);
}

.aside__filters {
  position: sticky;
  top: var(--space-22);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  background-color: var(--surface);
}

.filters__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.filters__search,
.filters__select {
  display: block;
  border-radius: var(--border-radius-input);
  background-color: var(--surface-overlay);
  border: 0;
  padding: var(--space-2) var(--space-4);
  line-height: var(--body-line-height);
  font-size: var(--body);
  font-weight: var(--text-regular);
  width: var(--input-width-desktop);
  box-sizing: border-box;
}

.filters__search {
  padding: var(--space-2) var(--space-4) var(--space-2) var(--space-12);
}

.filters__search::placeholder {
  color: var(--on-surface-dim);
  font-family: Inter, sans-serif;
}

.filters__search-wrapper {
  position: relative;
}

.filters__select-wrapper {
  position: relative;
  width: 100%;
}

.filters__search-wrapper::before {
  content: url("../pages/assets/img/icons/magnifying-glass.svg");
  position: absolute;
  left: var(--space-4);
  top: var(--space-3);
}

.filters__select {
  height: var(--select-height);
  appearance: none;
  cursor: pointer;
}

.filters__select:focus,
.filters__search:focus {
  outline: none;
  border: var(--default-border);
}

.filters__option {
  color: var(--on-surface);
}

.filters__option:disabled {
  color: var(--on-surface-dim);
}

.filters__select-wrapper::after {
  content: url("../pages/assets/img/icons/chevron-down.svg");
  position: absolute;
  right: var(--space-4);
  top: var(--space-3);
}

.filters__checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: var(--space-9);
}

.filters__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  font-family: Inter, sans-serif;
}

.filters__check-mark {
  position: absolute;
  top: 6px;
  left: 0;
  height: var(--checkbox-size-outside);
  width: var(--checkbox-size-outside);
  background-color: var(--surface);
  border-radius: var(--border-radius-checkbox);
  border: var(--checkbox-border-unchecked);
}

.filters__checkbox-container:hover .filters__check-mark {
  background-color: var(--surface-overlay);
}

.filters__checkbox:checked ~ .filters__check-mark {
  border: var(--checkbox-border-checked);
}

.filters__check-mark::after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 3px;
  width: var(--checkbox-size-inside);
  height: var(--checkbox-size-inside);
  border-radius: 2px;
  background-color: var(--primary);
}

.filters__checkbox:checked ~ .filters__check-mark::after {
  display: block;
}

/* Footer */

.footer__container {
  display: flex;
  padding: var(--space-6) 0 var(--space-18);
  border-top: var(--default-border);
  background: var(--surface);
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  gap: var(--space-4) var(--space-8);
}

.footer__copyright {
  font-size: 1em;
}

.footer__main {
  display: flex;
  gap: var(--space-2);
  white-space: nowrap;
}

.footer__link-top {
  cursor: pointer;
  font-family: Inter, sans-serif;
  white-space: nowrap;
  text-decoration: none;
}

.footer__link-top:hover,
.footer__logo:hover,
.footer__link:hover {
  color: var(--on-surface-dim);
}

/* Media */

@media screen and (max-width: 1280px) {
  .header,
  .main__container,
  .footer {
    padding: 0 var(--space-10);
  }

  .aside {
    min-width: var(--aside-tablet-width);
  }
}

@media screen and (max-width: 768px) {
  .catalog__heading {
    top: var(--header-top-tablet);
  }

  .catalog__list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .aside {
    position: sticky;
    top: 0;
    min-width: var(--aside-mobile-width);
    padding: 0;
  }

  .aside__filters {
    position: static;
    padding: var(--space-6) 0;
    border-bottom: var(--default-border);
    gap: var(--space-6);
  }

  .filters__form {
    flex-flow: row wrap;
    gap: var(--space-6) var(--space-8);
    align-items: center;
  }

  .header,
  .main__container,
  .footer {
    padding: 0 var(--space-6);
    flex-direction: column-reverse;
  }

  .filters__search,
  .filters__select,
  .filters__select-wrapper {
    width: var(--input-width-tablet);
  }

  .footer__container {
    align-items: flex-start;
  }

  .footer__nav {
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .catalog__heading {
    top: var(--header-top-mobile);
  }
}

@media screen and (max-width: 360px) {
  .filters__form {
    flex-direction: column;
    min-width: 100%;
    align-items: flex-start;
    gap: var(--space-6);
  }

  .catalog__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .filters__search,
  .filters__select,
  .filters__select-wrapper {
    width: var(--input-width-mobile);
  }

  .footer__container {
    padding: var(--space-6) 0 var(--space-13);
    flex-direction: column;
    gap: var(--space-10);
    align-items: flex-end;
  }

  .footer__nav {
    justify-content: space-between;
  }
}
