@import url("./variables.css");

/* Header */

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2; /* Place header on top of the content */
}

.header__container {
  padding: var(--space-5) 0;
  border-bottom: 1px solid var(--border);
  background: var(--surface);
}

.header__logo,
.footer__logo {
  font-size: var(--logo);
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
}

.header__link,
.footer__logo {
  color: inherit;
  text-decoration: none;
}

/* Catalog */

.main__container {
  display: flex;
  gap: var(--space-6);
}

.catalog {
  max-width: var(--space-225);
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.catalog__list {
  display: flex;
  gap: var(--space-4);
  flex-wrap: wrap;
}

.catalog__section {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.catalog__h2,
.filters__h2 {
  font-size: var(--subtitle);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.book {
  max-width: calc(20% - var(--space-4));
  min-width: var(--space-25);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.book__title {
  font-size: var(--body-small);
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__cover {
  border-radius: var(--space-6);
  border: 1px solid var(--border);
}

/* Aside */

.aside__filters {
  position: fixed;
  top: var(--space-25);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.filters__form {
  display: flex;
  flex-direction: column;
  min-width: var(--space-80);
  gap: var(--space-6);
}

.filters__search,
.filters__select {
  display: block;
  border-radius: var(--space-4);
  background-color: var(--surface-overlay);
  border: 0;
  padding: var(--space-2) var(--space-4);
  line-height: 32px;
  font-size: var(--body);
  width: 100%;
}

.filters__search {
  padding: var(--space-2) var(--space-4) var(--space-2) var(--space-12);
}

.filters__search::placeholder {
  color: var(--on-surface-dim);
}

.filters__search-wrapper {
  position: relative;
}

.filters__select-wrapper {
  position: relative;
  width: 100%;
}

.filters__search-wrapper::before {
  content: url("../../assets/img/icons/magnifying-glass.png");
  position: absolute;
  left: var(--space-4);
  top: var(--space-3);
}

.filters__select {
  height: var(--space-12);
  appearance: none;
  cursor: pointer;
}

.filters__select:focus,
.filters__search:focus {
  outline: none;
  border: 1px solid var(--border);
}

.filters__select > option {
  line-height: var(--space-8);
  font-size: var(--body);
  color: var(--on-surface);
}

.filters__select > option:disabled {
  color: var(--on-surface-dim);
}

.filters__select-wrapper::after {
  content: url("../../assets/img/icons/heroicons_chevron-down.svg");
  position: absolute;
  right: var(--space-4);
  top: var(--space-3);
}

.filters__checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: var(--space-9);
}

.filters__checkbox-container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filters__checkmark {
  position: absolute;
  top: var(--space-1);
  left: 0;
  height: var(--space-5);
  width: var(--space-5);
  background-color: var(--surface);
  border-radius: var(--space-1);
  border: 2px solid var(--border);
}

.filters__checkbox-container:hover input ~ .filters__checkmark {
  background-color: var(--surface-overlay);
}

.filters__checkbox-container input:checked ~ .filters__checkmark {
  border: 2px solid var(--primary);
}

.filters__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--primary);
}

.filters__checkbox-container input:checked ~ .filters__checkmark::after {
  display: block;
}

/* Footer */

.footer__container {
  display: flex;
  padding: var(--space-6) 0 var(--space-18);
  border-top: 1px solid var(--border);
  background: var(--surface);
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  gap: var(--space-8);
}

.footer__main {
  display: flex;
  gap: var(--space-2);
}

.footer__link {
  color: inherit;
}

.footer__button-top {
  all: unset;
  cursor: pointer;
}

.footer__button-top:hover,
.footer__logo:hover,
.footer__link:hover {
  color: var(--on-surface-dim);
}

/* Media */

@media screen and (max-width: 1280px) {
  .aside__filters {
    position: static;
  }

  .header,
  .main .container,
  .footer {
    padding: 0 var(--space-10);
  }
}

@media screen and (max-width: 768px) {
  .aside__filters {
    position: static;
    padding-bottom: var(--space-6);
    border-bottom: 1px solid var(--border);
    gap: var(--space-6);
  }

  .filters__form {
    flex-flow: row wrap;
    gap: var(--space-6) var(--space-8);
    align-items: center;
  }

  .book {
    max-width: calc(25% - (var(--space-4) * 3 / 4));
    width: calc(25% - (var(--space-4) * 2 / 3));
  }

  .header,
  .main .container,
  .footer {
    padding: 0 var(--space-6);
    flex-direction: column-reverse;
    gap: var(--space-6);
  }

  .filters__search,
  .filters__select,
  .filters__select-wrapper {
    width: var(--space-64);
  }
}

@media screen and (max-width: 360px) {
  .filters__form {
    flex-direction: column;
    min-width: 100%;
    align-items: flex-start;
    gap: var(--space-6);
  }

  .filters__search,
  .filters__select,
  .filters__select-wrapper {
    width: 100%;
  }

  .footer__container {
    padding: var(--space-6) 0 var(--space-13);
    flex-direction: column;
    gap: var(--space-10);
    align-items: flex-end;
  }

  .footer__nav {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
  }

  .book {
    flex: 0 0 50%;
    max-width: calc(50% - var(--space-4) / 2);
  }
}
