:root {
  --surface: rgb(255 255 255 / 100%);
  --surface-overlay: rgb(242 242 242 / 100%);
  --on-surface: rgb(0 0 0 / 100%);
  --on-surface-dim: rgb(0 0 0 / 50%);
  --primary: rgb(241 89 36 / 100%);
  --on-primary: rgb(255 255 255);
  --border: rgb(0 0 0 / 15%);
  --subtitle: 0.9em;
  --body: 20px;
  --body-small: 0.8em;
  --logo: 1em;
  --subtitle-line-height: 133.3%;
  --body-line-height: 160%;
  --body-small-line-height: 150%;
  --logo-line-height: 120%;
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-12: 48px;
  --space-13: 52px;
  --space-18: 72px;
  --space-22: 88px;
  --space-23: 92px;
  --space-25: 100px;
  --space-64: 256px;
  --space-69: 276px;
  --space-80: 320px;
  --space-225: 900px;
}
