:root {
  /* Colors */

  --surface: rgb(255 255 255 / 100%);
  --surface-overlay: rgb(242 242 242 / 100%);
  --on-surface: rgb(0 0 0 / 100%);
  --on-surface-dim: rgb(0 0 0 / 50%);
  --primary: rgb(241 89 36 / 100%);
  --primary-hover: rgb(248 101 48 / 100%);
  --on-primary: rgb(255 255 255);
  --border: rgb(0 0 0 / 15%);
  --accent: rgb(255 0 0 / 25%);
  --accent-border: rgb(180 0 0 / 100%);

  /* Font size variables */

  --subtitle: 0.9em;
  --body: 20px;
  --body-small: 0.8em;
  --logo: 1em;

  /* Font line height variables */

  --subtitle-line-height: 133.3%;
  --body-line-height: 160%;
  --body-small-line-height: 150%;
  --logo-line-height: 120%;

  /* Font weight variables */

  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;

  /* Space variables */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-12: 48px;
  --space-13: 52px;
  --space-18: 72px;
  --space-22: 88px;

  /* Size variables */

  --aside-desktop-width: 320px;
  --aside-tablet-width: 276px;
  --aside-mobile-width: 100%;
  --container-desktop-width: 1244px;
  --select-height: 48px;
  --input-width-desktop: 320px;
  --input-width-tablet: 256px;
  --input-width-mobile: 100%;
  --checkbox-size-outside: 20px;
  --checkbox-size-inside: 10px;
  --header-top-tablet: 200px;
  --header-top-mobile: 270px;

  /* Borders */

  --checkbox-border-unchecked: 2px solid var(--border);
  --checkbox-border-checked: 2px solid var(--primary);
  --default-border: 1px solid var(--border);

  /* Border radius variables */

  --border-radius-image: 24px;
  --border-radius-checkbox: 4px;
  --border-radius-input: 16px;
}
