/* Global styles. */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.css";

body {
  font-family: Roboto, sans-serif;
  background-color: var(--surface);
  color: var(--on-surface);
  font-size: var(--body);
  line-height: var(--body-line-height);
  font-weight: var(--text-medium);
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 var(--space-10);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 var(--space-6);
  }
}

.mat-mdc-table {
  max-width: 100%;
  box-sizing: border-box;

  --mat-table-background-color: var(--accent);
}

.mat-mdc-header-row {
  --mat-table-header-headline-color: var(--on-accent);
}

.mat-mdc-row {
  --mat-table-row-item-label-text-color: var(--on-accent);
}

.mat-toolbar {
  --mat-toolbar-container-background-color: var(--surface-overlay);
  --mat-toolbar-container-text-color: var(--on-surface);
  --mat-toolbar-standard-height: 90px;
}

.mat-mdc-unelevated-button {
  --mdc-filled-button-container-height: 55px;
}

.mdc-text-field--filled {
  --mdc-filled-text-field-container-color: var(--surface-overlay);

  color: var(--on-surface);
}

.mdc-text-field__input {
  --mdc-filled-text-field-input-text-color: var(--on-surface);
}

.mdc-floating-label {
  --mdc-filled-text-field-label-text-color: var(--accent);
}

.mat-mdc-raised-button.mat-mdc-button-disabled {
  --mdc-protected-button-disabled-label-text-color: var(--on-surface);
  --mdc-protected-button-disabled-container-color: var(--surface-overlay);
  --mdc-protected-button-container-height: 55px;
}

.mat-mdc-raised-button {
  --mdc-protected-button-container-height: 55px;
}

.mat-mdc-paginator {
  --mat-paginator-container-background-color: var(--accent);
  --mat-paginator-container-text-color: var(--on-accent);
}

.main__type-select .mat-mdc-select {
  --mat-select-enabled-trigger-text-color: var(--on-surface);
}

.mat-mdc-form-field .mdc-text-field__input {
  --mdc-filled-text-field-input-text-color: var(--on-surface);
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: var(--surface-overlay);
  background-color: var(--accent-overlay);
  cursor: pointer;
}

.mdc-evolution-chip__text-label {
  --mdc-chip-label-text-color: var(--on-surface);
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  --mdc-chip-elevated-container-color: var(--surface);
}

.mat-mdc-card-outlined {
  --mdc-outlined-card-container-color: var(--accent);
}

.mat-mdc-raised-button:not(:disabled) {
  --mdc-protected-button-label-text-color: var(--on-accent);
  --mdc-protected-button-container-color: var(--accent-overlay);
}

.mdc-list-item__primary-text {
  --mdc-list-list-item-label-text-color: var(--on-accent);
}

.mat-mdc-card {
  --mdc-elevated-card-container-color: var(--accent);
}
