.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
}

.avatar {
  width: 100px;
  height: 100px;
}

.avatar__icon {
  width: 80%;
  height: 80%;
}

.button {
  height: 50px;
}
