<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration__form">
	<div class="registration__group">
		<mat-form-field appearance="fill">
			<mat-label>First Name</mat-label>
			<input matInput id="firstName" type="text" formControlName="firstName">
			<mat-error>{{ getErrorMessage('firstName') ?? 'This field may not be blank' }}</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Last Name</mat-label>
			<input matInput id="lastName" type="text" formControlName="lastName">
			<mat-error>{{ getErrorMessage('lastName') ?? 'This field may not be blank' }}</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matInput id="email" type="email" formControlName="email">
			<mat-error>{{ getErrorMessage('email') ?? 'This field may not be blank' }}</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput id="password" type="password" formControlName="password">
			<mat-error>{{ getErrorMessage('password') ?? 'This field may not be blank' }}</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Repeat Password</mat-label>
			<input matInput id="confirmPassword" type="password" formControlName="confirmPassword">
			<mat-error>{{ getErrorMessage('confirmPassword') ?? 'This field may not be blank' }}</mat-error>
		</mat-form-field>
		<button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">Register</button>
	</div>
</form>
