<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration__form">
	<div class="registration__group">
		<mat-form-field appearance="fill">
			<mat-label>First Name</mat-label>
			<input matInput id="firstName" type="text"
				formControlName="firstName"
				autocomplete="firstName"
				placeholder="Enter your first name"
			>
			<mat-error></mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Last Name</mat-label>
			<input matInput id="lastName" type="text" [formControlName]="registrationModel.LastName">
			<mat-error>Please enter a valid email address</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matInput id="email" type="email" [formControlName]="registrationModel.Email">
			<mat-error>Please enter a valid email address</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput id="password" type="password" [formControlName]="registrationModel.Password">
			<mat-error>Please enter a valid email address</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Repeat Password</mat-label>
			<input matInput id="confirmPassword" type="password" [formControlName]="registrationModel.ConfirmPassword">
			@if( registrationForm.get(registrationModel.ConfirmPassword)?.invalid
				&& registrationForm.get(registrationModel.ConfirmPassword)?.touched ) {
				<mat-error>Please enter a valid email address</mat-error>
			}
		</mat-form-field>
		<div class="form__file-input">
			<input #csvInput hidden="true" [formControlName]="registrationModel.Avatar" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".png"/>
			<button type="button" mat-flat-button color="primary" (click)="csvInput.click()">Load an avatar picture</button>
		</div>
		@if (avatarImage) {
			<div class="form__avatar">
				<div class="form__avatar-label">Avatar preview: </div>
				<div class="form__avatar-container">
					<img class="form__avatar-img" [src]="avatarImage" alt="User avatar">
				</div>
			</div>
		}
		<button mat-raised-button color="primary" type="submit" [disabled]="!registrationForm.valid">Register</button>
	</div>
</form>
