<form [formGroup]="animeDetailsForm" class="main__form">
	<mat-form-field class="main__type-select" appearance="fill">
		<mat-label>Anime type</mat-label>
		<mat-select formControlName="type" multiple>
			@for (option of selectTypes; track option) {
				<mat-option [value]="option">{{ option }}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<div class="main__search-group">
		<mat-form-field appearance="fill">
			<mat-label>Search</mat-label>
			<input matInput formControlName="titleEnglish" placeholder="Search anime..." type="search">
		</mat-form-field>
	</div>
	<button mat-raised-button type="button">Add Anime</button>
</form>
