.main__form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.form__left,
.form__right {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.form__right {
  margin-top: var(--space-6);
}

.form__airing {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  max-width: 400px;
  margin: var(--space-6) 0;
}

.form__synopsis {
  min-height: 180px;
}

.form__genres,
.form__studios {
  display: flex;
  gap: var(--space-5);
}

.form__chip-list {
  width: 500px;
}

.mat-divider {
  --mat-divider-color: var(--accent);
}

.form__multi-filters {
  margin-top: var(--space-6);
}
