.listContainer {
  width: 100%;
  max-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
