.list-item {
  align-items: flex-start;
  padding: 0 var(--space-4) 0 var(--space-2);
}

.list-item__button {
  gap: var(--space-2);
  padding: var(--space-2);
}

.list-item__avatar {
  width: 80px;
  height: 80px;
}
