.header {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  height: 80px;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__user {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.user__profile {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.user__avatar {
  height: 55px;
}

.user__info {
  font-size: var(--body);
  line-height: var(--body-line-height);
  font-weight: var(--text-medium);
}

.user__email {
  font-size: var(--body-small);
  line-height: var(--body-small-line-height);
}

a {
  text-decoration: none;
  color: inherit;
}
