<div class="table-wrapper">
	@if (animeList !== undefined && sorting !== undefined) {
		<table mat-table
			matSort
			[dataSource]="animeList"
			[trackBy]="trackByAnime"
			(matSortChange)="onSortChange($event)"
			[matSortActive]="sorting.parameterName"
			[matSortDirection]="sorting.direction"
			>
			<ng-container [matColumnDef]="animeColumnIds.Image">
				<th mat-header-cell *matHeaderCellDef >
					{{ animeColumnNames.Image }}
				</th>
				<td mat-cell *matCellDef="let element">
					<div class="table__img-container">
						<img class="table__img" [src]="element.imageUrl" [alt]="element.JapaneseTitle"/>
					</div>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="animeColumnIds.EnglishTitle">
			<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
				{{ animeColumnNames.EnglishTitle }}
			</th>
			<td mat-cell *matCellDef="let element"> {{ element.titleEnglish | empty }} </td>
			</ng-container>

			<ng-container [matColumnDef]="animeColumnIds.JapaneseTitle">
			<th mat-header-cell *matHeaderCellDef>
				{{ animeColumnNames.JapaneseTitle }}
			</th>
			<td mat-cell *matCellDef="let element"> {{ element.titleJapanese | empty }} </td>
			</ng-container>

			<ng-container [matColumnDef]="animeColumnIds.StartDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
					{{ animeColumnNames.StartDate }}
				</th>
				<td mat-cell *matCellDef="let element"> {{ element.startDate | date | empty }} </td>
			</ng-container>

			<ng-container [matColumnDef]="animeColumnIds.Type">
				<th mat-header-cell *matHeaderCellDef>
					{{ animeColumnNames.Type }}
				</th>
				<td mat-cell *matCellDef="let element">
					<mat-chip>{{ element.type | empty }}</mat-chip>

				</td>
			</ng-container>

			<ng-container [matColumnDef]="animeColumnIds.Status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
					{{ animeColumnNames.Status }}
				</th>
				<td mat-cell *matCellDef="let element">
					<mat-chip>{{ element.status | empty }}</mat-chip>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)" tabindex="0" (keydown)="onRowKeydown($event, row)"></tr>
		</table>
	}
</div>
