.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}
