.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__user {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}
