<mat-toolbar>
	<div class="header__container container">
		<a class="header__content" [routerLink]="[appRoutes.Home]">
			<img src="assets/anime-icon.png" height="80" alt="">
			<span>Anime Catalog App</span>
		</a>
		<a [routerLink]="[appRoutes.Home]">Catalog</a>
		@if (isAuthorized()) {
			<div class="header__user user">
				@if ({ p: userProfile$ | async}; as userProfile ) {
					<div class="user__profile" >
						<img class="user__avatar" src="assets/user-icon.svg" alt="avatar" height="55">
						<div class="user__info">
							<div class="user__name">
								{{ userProfile.p?.firstName + ' ' +  userProfile.p?.lastName}}
							</div>
							<div class="user__email">{{ userProfile.p?.email }}</div>
						</div>
					</div>
				}
				<button mat-raised-button type="button" (click)="logout()">Logout</button>
			</div>
		}
		@else {
			<button mat-raised-button type="button" [routerLink]="[appRoutes.Authorization]">Login</button>
		}
	</div>
</mat-toolbar>
