<div class="mat-elevation-z8">
	<table mat-table [dataSource]="animeList$" [trackBy]="trackByAnime" class="mat-elevation-z8">
		<ng-container [matColumnDef]="animeColumns.Image">
			<th mat-header-cell *matHeaderCellDef> {{ animeColumns.Image }} </th>
			<td mat-cell *matCellDef="let element">
				<div class="table__img-container">
					<img class="table__img" [src]="element.imageUrl" [alt]="element.titleJpn"/>
				</div>
			</td>
		</ng-container>

		<ng-container [matColumnDef]="animeColumns.TitleEng">
		<th mat-header-cell *matHeaderCellDef>{{ animeColumns.TitleEng }}</th>
		<td mat-cell *matCellDef="let element"> {{ element.titleEnglish | empty }} </td>
		</ng-container>

		<ng-container [matColumnDef]="animeColumns.TitleJpn">
		<th mat-header-cell *matHeaderCellDef>{{ animeColumns.TitleJpn }}</th>
		<td mat-cell *matCellDef="let element"> {{ element.titleJapanese | empty }} </td>
		</ng-container>

		<ng-container [matColumnDef]="animeColumns.StartDate">
			<th mat-header-cell *matHeaderCellDef>{{ animeColumns.StartDate }}</th>
			<td mat-cell *matCellDef="let element"> {{ element.startDate | date | empty }} </td>
		</ng-container>

		<ng-container [matColumnDef]="animeColumns.Type">
			<th mat-header-cell *matHeaderCellDef>{{ animeColumns.Type }}</th>
			<td mat-cell *matCellDef="let element">
				<mat-chip>{{ element.type | empty }}</mat-chip>

			</td>
		</ng-container>

		<ng-container [matColumnDef]="animeColumns.Status">
			<th mat-header-cell *matHeaderCellDef>{{ animeColumns.Status }}</th>
			<td mat-cell *matCellDef="let element">
				<mat-chip>{{ element.status | empty }}</mat-chip>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>
