.filters {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-5) var(--space-5) 0;
}

.filters__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 100%;
}

.filters__sort {
  display: flex;
  gap: var(--space-2);
}

.filters__inputs {
  display: flex;
  gap: var(--space-2);
}

.filters__group {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.filters__input-base {
  margin-left: var(--space-2);
  flex: 1;
}

.filters__icon-button {
  padding: var(--space-4);
}
