<camp-header/>
<main class="main">
	<section class="main__table">
		<div class="main__container container">
			<h1 class="main__header">
				Anime Catalog
			</h1>
			<div class="main__form">
				<mat-form-field>
					<mat-label>Favorite Food</mat-label>
					<mat-select [(value)]="selectedFood">
					<mat-option></mat-option>
					@for (option of foods; track option) {
						<mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
					}
					</mat-select>
				</mat-form-field>
				<div class="main__search-group">
					<mat-form-field appearance="fill">
						<mat-label>Search</mat-label>
						<input matInput placeholder="Placeholder">
						<mat-icon matSuffix>search</mat-icon>
					</mat-form-field>
					<button mat-flat-button>Search</button>
				</div>
			</div>
			<camp-anime-table [animeList]="(paginationData$ | async)?.results"/>
			<mat-paginator [length]="(paginationData$ | async)?.totalCount" [pageSize]="animeApiService.limitPerPage" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)" aria-label="Select page">
			</mat-paginator>
		</div>
	</section>
</main>
