.main {
  display: flex;
  gap: var(--space-8);
  flex-grow: 1;

  /* stylelint-disable-next-line shorthand-property-no-redundant-values */
  padding: 100px 24px 0 24px;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.6, 1);
  margin-left: -280px;
  height: 100%;
}

.mainOpen {
  transition: margin 195ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 0;
}

.sidebar {
  width: 400px;
  flex-shrink: 0;
}

.fullWidth {
  width: 100vh;
}
