.genre-list {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-2);
}

.genre-list__items {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
