.filters {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-5) var(--space-5) 0;
}

.filters__form {
  padding: var(--space-base);
  display: flex;
  align-items: center;
  width: 100%;
}

.filters__input-base {
  margin-left: var(--space-2);
  flex: 1;
}

.filters__icon-button {
  padding: var(--space-4);
}
