<mat-form-field class="form__chip-list">
	<mat-label>Anime Studios</mat-label>
	<mat-chip-grid #chipGridNew aria-label="Studio selection">
		@for (studio of selectedStudios; track $index) {
			<mat-chip-row (removed)="removeStudio(studio)">
				@if (studio.imageUrl) {
					<img matChipAvatar [src]="studio.imageUrl" alt="{{studio.name}}">
				}
				{{studio.name}}
				<button type="button" matChipRemove [attr.aria-label]="'remove ' + studio.name">
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip-row>
		}
	</mat-chip-grid>
	<input
		name="currentStudio"
		placeholder="New Studio..."
		#studioInput
		[matChipInputFor]="chipGridNew"
		[matAutocomplete]="autoNew"
		[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
		(matChipInputTokenEnd)="addStudio($event)"
	/>
	<mat-autocomplete #autoNew="matAutocomplete" (optionSelected)="selectedStudio($event)">
		@for (studio of filteredStudios$ | async; track $index) {
			<mat-option [value]="studio.name">
				@if (studio.imageUrl) {
					<img [src]="studio.imageUrl" [alt]="studio.name" width="24" height="24">
				}
				{{studio.name}}
			</mat-option>
		}
	</mat-autocomplete>
</mat-form-field>
